* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  color: #fff;
}
/* header */
header {
  background-color: #115173;
}
nav {
  display: flex;
  background-color: #022c43;
  justify-content: space-around;
  padding: 20px 0;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}
nav h1 {
  color: #ffd700;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: #ffd700;
}
nav ul li a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid #ffd700;
  transform: scaleX(0);
  transition: 0.2s linear;
}
nav ul li a:hover::after {
  transform: scaleX(0.7);
}
.jumbotron {
  display: flex;
  background-color: #115173;
  text-align: center;
  color: white;
  padding-top: 80px;
  justify-content: center;
  gap: 50px;
  width: 100%;
}
.jumbotron .judul {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: 150px;
}
.jumbotron .judul h1 {
  color: #ffd700;
  font-weight: bold;
  font-size: 70px;
  padding-bottom: 10px;
}
.jumbotron img {
  width: 27rem;
}
button {
  position: relative;
  background-color: #022c43;
  color: white;
  border-radius: 5px;
  box-shadow: 0 5px 0 #011621;
  text-align: center;
  padding: 10px;
  border: none;
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
  width: 50%;
}
button:hover {
  opacity: 0.8;
  box-shadow: none;
  top: 5px;
}
/* main */
main {
  padding: 0 20px;
  padding-bottom: 15px;
}
main h2 {
  background-color: #022c43;
  color: #ffd700;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
}

.bungkus {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.bungkus .info img {
  width: 75%;
}
.bungkus .info {
  width: 35%;
  display: flex;
  justify-content: center;
  background-color: #115173;
  color: white;
  border-radius: 10px;
}
.bungkus .form {
  width: 60%;
  padding: 40px;
}
.bungkus .form h3 {
  text-align: center;
  color: #011621;
}
.bungkus .form label {
  color: #011621;
}
.form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.form .inputBox input,
.form .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #011621;
  outline: none;
  resize: none;
}
.form .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #011621;
}
.form .inputBox input:focus ~ span,
.form .inputBox input:valid ~ span,
.form .inputBox textarea:focus ~ span,
.form .inputBox textarea:valid ~ span {
  color: #333;
  font-size: 14px;
  transform: translateY(-20px);
  font-weight: bold;
}
.button {
  display: flex;
  gap: 10px;
}
/* footer */
footer {
  background-color: #115173;
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  margin-top: -10px;
}
footer p {
  padding: 20px;
  font-weight: bold;
  font-size: 17px;
}
footer p a {
  text-decoration: none;
  color: #ffd700;
}
/* responsive */
@media screen and (max-width: 1000px) {
  header {
    display: block;
  }
  .jumbotron {
    display: block;
  }
  .jumbotron .judul {
    margin: 30px;
  }
  .jumbotron img {
    width: 50%;
  }
  .bungkus {
    display: block;
  }
  .bungkus .info {
    width: 100%;
  }
  .bungkus .form {
    width: 100%;
  }
}
